body {
  font-family: 'Roboto', sans-serif;
  word-wrap: break-word;
    background: #0F0F0F;
    min-height:720px;
    overflow-y:hidden;
    font-size:12px;
    color:#fafafa;
}

a{
    color:#fafafa;
    text-decoration: underline;
}

a:hover{
    color:#fafafa;
}

#container {
  padding:5px;
    position:relative;
    display: grid;
  grid-template-columns: repeat(12, 1fr);
    min-width:650px;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background: rgba(100,100,100,0.6)
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: background: rgba(100,100,100,0.6);
}

::-webkit-scrollbar-thumb
{
	border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #fafafa;
}

::-webkit-scrollbar-thumb:hover
{
	background-color: rgb(210,210,210);
}

.request {

  margin-bottom: 10px;
    color: #fafafa;
    background: #1A1A1A;
    box-shadow: 7px 7px 5px -6px rgba(0,0,0,0.75);
    padding:15px;
    position:relative;
    border-radius:5px;
}

.white-icon{
    color: #fafafa;
}

.request-url{
    width:50%;
    float:left;
}

.response-title{
    width:40%;
    float:right;
    text-align:right;
    padding-right:20px;
}

.header-content{
    margin-bottom:20px;
}

.request-line{
     width:100%;
    height:1px;
    background: #fafafa;
    border-radius:0.5px;
    margin-top:5px;
    margin-bottom:5px;
}

#button-container{
    position:absolute;
    right:0;
    height:80px;
    width: 200px;
    top:0;
    padding:10px;
}

#text-container{
    position:absolute;
    left:0;
    height:100px;
    width: 35%;
    top:20px;
    padding-left:10px;
}

#text-container p{
    color:#fafafa;
    font-size: 10px;
    margin-top:-10px;
}

.external-link{
    float:right;
    margin-right:3px;
    margin-left:7px;
    height:40px;
    width:20px;
    transition: 0.1s;
}

.external-link:hover{
    cursor: pointer;
    transform: scale(1.2);
}

span{
        display: inline-block;    
}
    
p{
        word-wrap: break-word;
    white-space: normal;
}

#title{
    grid-column: span 12;
    text-align:center;
}

#radio-options{
    grid-column: span 12;
    text-align:center;
    white-space:normal;
}

label {
    display: inline-block;
    padding-left: 15px;
    text-indent: -15px;
    color:white;
}

input {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden; 
}

.title-text{
    grid-column: span 6;
    text-align:center;
}

.subtitle-text{
    grid-column: span 6;
    text-align:right;
    padding-right:10px;
    color:white;
    margin-top:-5px;
}

#title h1{
    color:#fafafa;
}

h2{
    color:#fafafa;
}
    
#container-left{
grid-column: span 6;
margin-right:1.5%;
float:left;
max-height:430px;
overflow-y:auto;
overflow-x:hidden;
padding:10px;
background: rgba(100,100,100,0.6);
border-radius:5px;
padding-bottom:0;
}
    
#container-right{
grid-column: span 6;
margin-left:1.5%;
float:left;
max-height:430px;
overflow-y:auto;
overflow-x:hidden;
padding:10px;
background: rgba(100,100,100,0.6);
border-radius:5px;
padding-bottom:0;
}

.tooltip {
  position: absolute;
  top:15px;
  right:15px;
  display: inline-block;
}
    
.tooltip img{
        width:13px;
}
    
.tooltip-write img{
        width:13px;
}

.tooltiptext {
  visibility: hidden;
  background-color: #555;
  color: #fafafa;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 2;
  top: 170%;
  right: 50%;
    margin-right:-10px;
    text-align: left;
width:200px;
  opacity: 0;
  transition: opacity 0.3s;
    word-wrap: break-word;
    white-space: normal;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
    right:5px;
  transform: rotate(180deg);
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltiptext-write {
  visibility: hidden;
  background-color: #555;
  color: #fafafa;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 2;
  top: 5px;
  right: 35%;
    margin-right:-10px;
    text-align: left;
width:200px;
  opacity: 0;
  transition: opacity 0.3s;
    word-wrap: break-word;
    white-space: normal;
}

.tooltiptext-write::after {
  content: "";
  position: absolute;
  bottom: 100%;
    right:50%;
  transform: rotate(180deg);
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
    
.tooltip img:hover{
        cursor:pointer;
}

.tooltip-write:hover .tooltiptext-write {
  visibility: visible;
  opacity: 1;
}

#absolute-layout{
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background: #0F0F0F;
  overflow-x: hidden;
  display:block;
}

.modal{
  position: absolute;
  margin: auto;
  background-color: #313131;
  height: 350px;
  width: 550px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  padding:15px;
  z-index:100;
  border: 2px solid #565656;
}

#cluster-modal{
    display:none;
}

.modal-layout{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background: #0F0F0F;
    opacity:0.6;
    overflow-x: hidden;
    display:block;
}

.fa-times{
  float: right;
  margin-top:-15px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

#button4{
    margin-right:8px !important;
}

.relative{
    position:relative;
    width:100%;
    height:100%;
}
  
.fa-times:hover{
    transform: scale(0.75);
    color: #6b6b6b;
}

.cluster-list{
    background-color: #1A1A1A;
    width: 95%;
    height: 75%;
    position: relative;
    margin: auto;
    border-radius: 10px;
    padding: 15px;
    overflow-y: auto;
}

#screen-layout{
    position:relative;
    width:100%;
    text-align:center;
    height:100%;
    padding-top:150px;
}

#screen-layout span{
    color: #fff;
    font-size: 28px;
}

#screen-layout p{
    color: #fff;
    font-size: 28px;
}

.fa-custom{
    font-size:140px;
    color: #fff;
    margin-left:-20px;
}

button {
	-moz-box-shadow:inset 0px -3px 7px 0px #29bbff;
	-webkit-box-shadow:inset 0px -3px 7px 0px #29bbff;
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background-color:#2dabf9;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
    transition:0.2s;
    margin-top:10px;
}
button:hover {
	background-color:#0688fa;
}
button:active {
	position:relative;
	top:1px;
}

.ellipsis-anim span {
    opacity: 0;
    -webkit-animation: ellipsis-dot 1s infinite;
    animation: ellipsis-dot 1s infinite;
}

.ellipsis-anim span:nth-child(1) {
    -webkit-animation-delay: 0.0s;
    animation-delay: 0.0s;
}
.ellipsis-anim span:nth-child(2) {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}
.ellipsis-anim span:nth-child(3) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

@-webkit-keyframes ellipsis-dot {
      0% { opacity: 0; }
     50% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes ellipsis-dot {
      0% { opacity: 0; }
     50% { opacity: 1; }
    100% { opacity: 0; }
}